<%= form_for(@marca_proveedor) do |f| %>
  

  <div class="field">
    <%= f.label :marca_id %><br>
    <%= f.text_field :marca_id %>
  </div>
  <div class="field">
    <%= f.label :proveedore_id %><br>
    <%= f.text_field :proveedore_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
