<p id="notice"><%= notice %></p>

<h1>Marcas</h1>



<table class="table table-stripped">
  <thead>
    <tr align="left">
      <th >Descripcion</th>
      <th colspan="4" >Opciones</th>
     
    </tr>
  </thead>

  <tbody>
    <% @marcas.each do |marca| %>
      <tr>
        <td><%= marca.descrip %></td>
        <td> <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal">Agregar proveedor</button></td>
        <td><%= link_to 'Show', marca %></td>
        <td><%= link_to 'Edit', edit_marca_path(marca) %></td>
        <td><%= link_to 'Destroy', marca, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><font color="black">Marcas por proveedores</font></h4>
        </div>
        <div class="modal-body">
<h1><font color="black">Proveedores</font></h1>


<%= render  'marca_proveedors/tabla' %>


    
</div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div>




<%= link_to 'New Marca', new_marca_path %>
