<p id="notice"><%= notice %></p>

<h1>Listing Sub Categories</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Descripcion</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sub_categories.each do |sub_category| %>
      <tr>
        <td><%= sub_category.descripcion %></td>
        <td><%= sub_category.category.descripcion %></td>
        <td><span class="glyphicon glyphicon-eye-open"><%= link_to '   Mostrar', sub_category %></span></td>
        <td><span class="glyphicon glyphicon-pencil"><%= link_to '   Editar', edit_sub_category_path(sub_category) %></span></td>
        <td><span class="glyphicon glyphicon-trash"><%= link_to '   Eliminar', sub_category, method: :delete, data: { confirm: 'Esta seguro?' } %></span></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sub category', new_sub_category_path %>
