<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_field :descripcion %>
  </div>
  <div class="field">
    <%= f.label :cantidad %><br>
    <%= f.number_field :cantidad %>
  </div>
  <div class="field">
    <%= f.label :cod_bar %><br>
    <%= f.text_field :cod_bar %>
  </div>
  <div class="field">
    <%= f.label :precio_costo %><br>
    <%= f.text_field :precio_costo %>
  </div>
  <div class="field">
    <%= f.label :precio_venta %><br>
    <%= f.text_field :precio_venta %>
  </div>
  <div class="field">
    <%= f.label :sub_category_id %><br>
    <%= f.text_field :sub_category_id %>
    <%= select_tag("product[sub_category_id]",  options_for_select(@subcategory.map{|c|["#{c.descripcion}", c.id]})) %>

  </div>
  <div class="field">
    <%= f.label :marca_id %><br>
   <%= select_tag("product[marca_id]",  options_for_select(@marca.map{|c|["#{c.descrip}", c.id]})) %>

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<script type="text/javascript">
          $(document).ready(function() {
            console.log("hola")
          $('select#product_sub_category_id').select2({
            placeholder: "Sub_Categoria",
            allowClear: true
          });
        });
</script>



<script type="text/javascript">
          $(document).ready(function() {
            console.log("hola")
          $('select#product_marca_id').select2({
            placeholder: "Marca",
            allowClear: true
          });
        });
</script>