<!DOCTYPE html>
<html>
<head>
  <title>Proyecto</title>
 <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>


  <header class="header">  


      <nav class="navbar navbar-expand-lg">
<!--
        <div class="search-panel">Buscar
          <div class="search-inner d-flex align-items-center justify-content-center">
            <div class="close-btn">Close <i class="fa fa-close"></i></div>
            <form id="searchForm" action="#">
              <div class="form-group">
                <input type="search" name="search" placeholder="What are you searching for...">
                <button type="submit" class="submit">Search</button>
              </div>
            </form>
          </div>
        </div>
-->


        <div class="container-fluid d-flex align-items-center justify-content-between">
          <div class="navbar-header"><a href="index.html" class="navbar-brand">
              <div class="brand-text brand-big visible text-uppercase"><strong class="text-primary">Tercero </strong><strong>Analisis</strong></div>
              <div class="brand-text brand-sm"><strong class="text-primary">T</strong><strong>A</strong></div></a>
            <button class="sidebar-toggle"><i class="fa fa-long-arrow-left"></i></button>
          </div>
          <ul class="right-menu list-inline no-margin-bottom">    
            <li class="list-inline-item"><a href="#" class="search-open nav-link"><!--<i class="icon-magnifying-glass-browser"></i>--></a></li>


            

           


            <li class="list-inline-item logout"><a id="logout" href="login.html" class="nav-link">Cerrar sesion <i class="icon-logout"></i></a></li>



          </ul>
        </div>
      </nav>
    </header>


    <div class="d-flex align-items-stretch">

      <nav id="sidebar">
        <div class="sidebar-header d-flex align-items-center">
          <div class="avatar"><img src="http://localhost:3000/images/usuario.jpg" alt="..." class="img-fluid rounded-circle"></div>
          <div class="title">
            <h1 class="h5">Tercero Analisis</h1>
            <p>Web Designers</p>
          </div>
        </div><span class="heading">Main</span>
        <ul class="list-unstyled">
          <li class="active"><!--<i class="icon-home"></i>--><%= link_to 'Inicio', 'inicio/index' %></li>
          <li><a href="#dashvariants" aria-expanded="false" data-toggle="collapse"> Proveedores </a>
            <ul id="dashvariants" class="collapse list-unstyled">
              <li ><%= link_to 'Proveedores', proveedores_path %></li>
              <li ><%= link_to 'Marcas', marcas_path %></li>
            </ul>
          </li>

          <li><a href="#prod" aria-expanded="false" data-toggle="collapse"> Productos </a>
            <ul id="prod" class="collapse list-unstyled">
              <li ><%= link_to 'Productos', products_path %></li>
              <li ><%= link_to 'Categorias', categories_path %></li>
              <li ><%= link_to 'Sub categorias', sub_categories_path %></li>
            </ul>
          </li>

          <li>  <!--<i class="icon-grid"></i>--><%= link_to 'Sucursales', sucursals_path %></li>
          <li> <a href="charts.html"> <i class="fa fa-bar-chart"></i>Charts </a></li>
          <li> <a href="forms.html"> <i class="icon-padnote"></i>Forms </a></li>
          <li> <a href="login.html"> <i class="icon-logout"></i>Login Page</a></li>
        </ul><span class="heading">Extras</span>
        <ul class="list-unstyled">
          <li> <a href="#"> <i class="icon-settings"></i>Demo </a></li>
          <li> <a href="#"> <i class="icon-writing-whiteboard"></i>Demo </a></li>
          <li> <a href="#"> <i class="icon-light-bulb"></i>Demo </a></li>
          <li> <a href="#"> <i class="icon-chart"></i>Demo </a></li>
        </ul>
      </nav>



      <div class="page-content">
        <!--
        <div class="page-header">
          <div class="container-fluid">
            <h2 class="h5 no-margin-bottom">Dashboard</h2>
          </div>
        </div>-->



      

<section>
<div class="public-user-block block">
              <div class="row d-flex align-items-center">                   
                <p class="notice"> <%= notice %></p>
                <p class="alert"> <%= alert %></p>
                
                                      <%= yield %>

              </div>
            </div>
</section>

                

        
        

        <footer class="footer">
          <div class="footer__block block no-margin-bottom">
            <div class="container-fluid text-center">
              <!-- Please do not remove the backlink to us unless you support us at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
              <p class="no-margin-bottom">2017 &copy; Tercero analisis</p>
            </div>
          </div>
        </footer>

      </div>
    </div>
    <!-- Javascript files-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"> </script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="vendor/jquery.cookie/jquery.cookie.js"> </script>
    <script src="vendor/chart.js/Chart.min.js"></script>
    <script src="javascripts/charts-home.js"></script>
    <script src="javascripts/front.js"></script>


 



</body>
</html>
